body {
    margin: 0px;
}

#top {
    background-color: #c7ffed;
    padding-top: 1vh;
    padding-bottom: 50vh;
}

#top_icon img {
    position: relative;
    float: left;
    translate: 100% 20%;
    width: 100px;
}

#top_bar {
    float: right;
    width: 50%;
}

#top_bar ul {
    position: relative;
    translate: -5% 25%;
    border: 2px solid #111111;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 2px;
}

#top_bar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#top_text {
    position: relative;
    background-color: pink;
    padding-left: 0%;
    width: 35%;
    translate: 10vw 20vh;
}

#top_text h1 {
    font-size: 36px;
    position: relative;
    text-align: left;
    padding: 0;
    background-color: purple;
}

#top_text p {
    font-size: larger;
}

#skills {
    background-color: coral;
    margin-bottom: 10vh;
}
#skills h2 {
    text-align: center;
}

#skill_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill {
    display: flex;
    margin-right: 5vw;
}

.skill img {
    width: 70px;
    margin-right: 10px;
    padding: 3px;
    border: 2px solid #111111;
    border-radius: 5px;
    background-color: #eeeeee;
}

.skill span {
    display: inline;
    position: relative;
    translate: 0 38%;
    font-size: large;
}

#bottom_text {
    display: flex;
    align-items: center;
}

#bottom_text img {
    width: 500px;
    margin-left: 5vw;
    margin-right: 5vw;
}

#bt_img {
    position: relative;
    translate: 0 -8vh;
}
#bt_text h1 {
    font-size: 48px;
}

#bt_text p {
    margin-bottom: 30vh;
}

#bottom_button {
    width: 200px;
    height: 50px;
    box-shadow: 5px 5px #111111;
    position: relative;
    translate: 0 -16vh;
}